<%= image_tag "themes/japanese/yume_gyousyo.png", :id => 'background_image' %>

<div class="container menu">
  <%#= render :partial => 'parts/introduction' %>

  <h1 class="text-center"><strong><%= @menu.name %><br>
    <small><%= @menu.description %></small></strong></h1>
  <hr>
  <% @menu.ordered_sections.each do |s| %>
    <%= render :partial => 'sections/show_on_menu', :locals => {:section => s, :menu => @menu} %>
  <% end %>
</div>

<%= render :partial => 'parts/menu_footer' %>
