<style>
    body{
        padding-top: 50px;
    }
</style>

<div id='top_nav' class='navbar navbar-default navbar-fixed-top navbar-inverse' role='navigation'>
  <div class="container">
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top_nav_body">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to store_name, root_path, :class => 'navbar-brand' %>
    </div>

    <div id='top_nav_body' class='collapse navbar-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <% if current_order? %>
          <li>
            <%= link_to 'Review Order', review_order_path(current_order), :remote => true %>
          </li>
        <% end %>

        <% if super_user? %>
          <li classs="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Store Tools <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Menus', menus_path %></li>
              <li><%= link_to 'Sections', sections_path %></li>
              <li><%= link_to 'Edit Store', edit_store_path(store) if store %></li>

            </ul>
          </li>
        <% end %>



        <li>
          <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
              <%= link_to 'Login', new_user_session_path %>
          <% end %>
        </li>
        <li>

        </li>
      </ul>
    </div>
  </div>
</div>
