<%= form_for([@hours_available, @exception_to_availability]) do |f| %>
   <%= render :partial => 'parts/error_explanation', :locals => {:object => @exception_to_availability} %>

  <%= f.hidden_field :hours_available_id, :value => @hours_available.id %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :close, :class => 'control-label' %>
    <div class="form-inline">
      <%= f.datetime_select :close, {:ampm => true}, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :open, :class => 'control-label' %>
    <div class="form-inline">
      <%= f.datetime_select :open, {:ampm => true}, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label class="control-label">
        <%= f.check_box :reoccurring %> Reoccurring?
      </label>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit 'Schedule Closure', :class => 'btn btn-primary form-control' %>
  </div>

  <div class="form-group">
    <%= link_to 'Back', @hours_available.path_back, :class => 'btn btn-default form-control' %>
  </div>

  <% unless @exception_to_availability.new_record? %>
    <%= link_to 'Delete', hours_available_exception_to_availability_path(@hours_available, @exception_to_availability),
                          :method => :delete, :class => 'btn btn-danger form-control',
                          :data => {:confirm => 'This will PERMANENTLY DELETE this Scheduled Closure. Are you sure?'} %>
  <% end %>
<% end %>

<script>

    <!--<% @exception_to_availability.errors.messages.each do |k, v| %>-->
     <!--<%= j "$('exception_to_availability_#{k}').addClass('has_error');" %>-->
    <!--<% end %>-->

</script>
