<%= form_for(@store) do |f| %>
  <%= render :partial => 'parts/error_explanation', :locals => {:object => @store} %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= render :partial => 'menus/list', :locals => {:menus => @store.menus} unless @store.new_record? %>
      </div>
    </div><!--col-->

    <div class="col-md-4">
      <h2>Store Options</h2>
      <div class="form-group">
        <%= f.label :name, 'Store Name', :class => 'control-label' %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form_group">
        <%= f.label :description, 'Describe Your Store', :class => 'control-label' %><br>
        <%= f.text_area :description, :class => 'form-control' %>
      </div>

      <div class="checkbox">
        <label class='control-label'>
          <%= f.check_box :delivers %> <strong>We offer delivery</strong>
        </label>
      </div>

      <div class="checkbox">
        <label class='control-label'>
          <%= f.check_box :dine_in %> <strong>Dine in available</strong>
        </label>
      </div>

      <div class="form-group">
        <%= f.label :sales_tax_rate, :class => 'control-label' %>
        <%= f.text_field :sales_tax_rate, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Menu Package', :class => 'control-label' %>
        <%= f.select :menu_package, array_for_select(MENU_PACKAGES), {}, {:class => 'form-control'} %>
      </div>

      <div class="form-group">
        <%= f.submit :class => 'btn btn-primary form-control' %>
      </div>
    </div><!-- col -->

    <div id='hours_available' class="col-md-4">
      <h2>Store Hours</h2>
      <%= f.fields_for :hours_available do |ha_fields| %>
        <%= render :partial => 'hours_available/form_small', :locals => {:f => ha_fields} %>
      <% end %>
    </div><!--col-->
  </div><!-- row -->
<% end %>


