<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-md-4">

      <div class="form-group">
        <%= f.label :name, 'Store Name' %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form_group">
        <%= f.label :description, 'Describe Your Store' %><br>
        <%= f.text_area :description, :class => 'form-control' %>
      </div>

      <div class="checkbox">
        <label>
          <%= f.check_box :delivers %> <strong>We offer delivery</strong>
        </label>
      </div>

      <div class="form-group">
        <%= f.label :sales_tax_rate %>
        <%= f.text_field :sales_tax_rate, :class => 'form-control' %>
      </div>

      <% if @store.new_record? %>
        <div class="form-group">
          <%= f.label 'Menu Package' %>
          <%= f.select :menu_package, array_for_select(MENU_PACKAGES), {}, {:class => 'form-control'} %>
        </div>
      <% end %>
    </div><!-- col -->

    <!--<div id='hours_available' class="col-md-4">-->
      <!--<h2>Store Hours</h2>-->
      <!--<%= f.fields_for :hours_available do |ha_fields| %>-->
        <!--<%= render :partial => 'hours_available/form_small', :locals => {:f => ha_fields} %>-->
      <!--<% end %>-->

    <!--</div>&lt;!&ndash;col&ndash;&gt;-->


    <div class="col-md-4">
      <div class="form-group">
        <%= render :partial => 'menus/list', :locals => {:menus => @store.menus} unless @store.new_record? %>
      </div>

      <div class="form-group">
        <%= f.submit :class => 'btn btn-primary form-control' %>
      </div>
    </div><!--col-->

  </div><!-- row -->
<% end %>


