<div class="row">
  <%= form_for @form_target do |f| %>
    <%= render :partial => 'parts/error_explanation', :locals => {:object => @section} %>

    <% unless @section.new_record? %>
    <div class="col-md-4">
      <%= render :partial => 'items/list', :locals => {:items => @section.ordered_items} %>
    </div><!--col-->
    <% end %>

    <div class="col-md-4">
      <h3>Section Options</h3>

      <div class="form-group">
        <%= f.label :name, :class => 'control-label' %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, :class => 'control-label' %>
        <%= f.text_area :description, :class => 'form-control'%>
      </div>


      <div class="form-group">
        <%= f.submit :class => 'btn btn-primary form-control' %>
      </div>

      <% unless @section.new_record? %>


        <% if @menu %>
          <div class  ="form-group">
            <%= link_to 'Remove Section', remove_menu_section_path(@menu, @section),
                            :class => 'btn btn-warning form-control',
                            :data => {:confirm => 'This will remove this section from this menu only. Are you sure?'} %>
          </div>
        <% end %>
        <div class="form-group">
          <%= link_to 'Delete Section', @section, :method => :delete, :class => 'btn btn-danger form-control',
                    :data => { :confirm => 'This will PERMANENTLY delete this Item. Are you sure?' }%>
        </div>
      <% end %>
    </div><!--col-->

    <% if @other_sections %>
      <div class="col-md-4">
        <h3>Add an existing Section</h3>
          <ul>
            <% @other_sections.each do |sec| %>
              <li><%= link_to sec.name, add_menu_section_path(@menu, sec) %></li>
            <% end %>
          </ul>
      </div><!--col-->
    <% end %>
  <% end %>
</div><!--row-->