<div id="section_list">
  <h3>Sections</h3>

  <% sections.each do |s| %>
      <div class="row">
        <div class="col-xs-6">
          <li>
            <%= link_to s.name, edit_menu_section_path(@menu, s) %>
          </li>
        </div>

        <div class="col-xs-1 offset-xs-1">
          <%= link_to '<span class="glyphicon glyphicon-chevron-down"></span>'.html_safe,
                       move_menu_section_path(@menu, s, :velocity => 1) %>
        </div>

        <div class="col-xs-1">
          <%= link_to '<span class="glyphicon glyphicon-chevron-up"></span>'.html_safe,
                       move_menu_section_path(@menu, s, :velocity => -1) %>
        </div>

        <div class="col-xs-2 offset-xs-1">
          <%= link_to 'remove', remove_menu_section_path(@menu, s),
                      :class => 'text-danger',
                      :data => {:confirm => 'This will remove this section from this menu only. Are you sure?'}%>
        </div>
      </div>
  <% end %>
  <div class="form-group">
    <%= link_to 'Add Section', new_menu_section_path(@menu), :class => 'btn btn-success form-control' %>
  </div>
</div>