<%= form_for(@order) do |f| %>
  <%= render :partial => 'parts/error_explanation', :locals => {:object => @order} %>

  <%= f.hidden_field :status, :value => 'completing' %>

  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :dining_location, :class => 'control-label' %>
      <%= f.select :dining_location, array_for_select(store.dining_location_options), {}, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :note, 'Order notes', :class => 'control-label' %>
      <%= f.text_area :note, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :contact_name, :class => 'control-label' %>
      <% if user_signed_in? %>
        <%= f.text_field :contact_name, :class => 'form-control', :value => current_user.name %>
    <% else %>
        <%= f.text_field :contact_name, :class => 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :contact_phone, 'Phone', :class => 'control-label' %> <small>(we many need to call you)</small>
      <% if user_signed_in? %>
          <%= f.phone_field :contact_phone, :class => 'form-control', :value => current_user.phone %>
      <% else %>
          <%= f.phone_field :contact_phone, :class => 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.submit 'Place Order', :class => 'btn btn-primary form-control' %>
    </div>
  </div><!--col-->

<% end %>
  <div id='order_items' class="col-md-8 well">
    <%= render :partial => 'order_items/list', :locals => {:order_items => @order.order_items} %>
    <hr>
    <div class="row">
      <div class="col-xs-8">
        <strong>
          Sub Total:
        </strong>
      </div>

      <div class="col-xs-1">
        <strong>
        <span id="sub_total" class="pull-right">
          <%= number_to_currency(@order.order_items_total) %>
        </span>
        </strong>
      </div>
    </div><!--inner row-->

    <div class="row">
      <div class="col-xs-8">
        Tax:
      </div>

      <div class="col-xs-1">
        <span id="tax" class="pull-right">
          <%= number_to_currency(@order.tax, :unit => '') %>
        </span>
      </div>
    </div><!--inner row-->


    <div class="row">
      <div class="col-xs-8">
        <h3>Total:</h3>
      </div>

      <div class="col-xs-1">
        <h3>
          <span id="total" class="pull-right">
            <%= number_to_currency(@order.total) %>
          </span>
        </h3>
      </div>
    </div><!--inner row-->

  </div><!--col-->
</div><!--row-->
