<div id="item_<%= item.id %>" class="row item">
  <div class="col-md-6">
    <h4>
      <%= item.name %>
      <small>
        <%= item.description %>
      </small>
    </h4>
  </div><!--col-->

  <div class="col-md-6">
    <div class="col-sm-2 col-sm-offset-1">
      <h4><%= number_to_currency(item.cost) %></h4>
    </div><!--col-->

    <%= form_for OrderItem.new, :remote => true do |oi| %>
      <%= oi.hidden_field :item_id, :value => item.id %>
      <%= oi.hidden_field :cost, :value => item.cost %>
      <div class="col-sm-4 col-sm-offset-1">
        <div class="form-group">
          <%= oi.number_field :quantity, :class => 'form-control', :min => 1, :placeholder => 'quantity (1)' %>
        </div>
      </div><!--col-->

      <div class="col-sm-4">
        <div class="form-group">
          <%= oi.submit 'Add to Order', :class => 'btn btn-primary form-control' %>
        </div>
      </div><!--col-->

    <% end %><!--Order form-->
  </div><!--col-->
</div><!--container-->

