<%= image_tag "themes/japanese/yume_gyousy_inv.png", :id => 'background_image' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h2><%= @item.name %>
        <% if super_user? %>
            <small><%= link_to '(edit)', path_to_edit_item %></small>
        <% end %>
      </h2>

      <h4 class="text-center">
        <%= @item.description %>
      </h4>


    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <% if @item.long_description %>
        <blockquote>
          <h3>
            <%= @item.long_description %>
          </h3>
        </blockquote>
      <% end %>


    </div><!--col-->
  </div><!--row-->

  <div class="row">
    <div class="col-md-6">
      <%= express_carousel "#{Rails.root}/app/assets/images/themes/japanese/" %>
      <%#= image_tag @item.image.url(:show), :class => 'pull-right' if @item.image.exists? %>
    </div>
  <!--</div>-->

  <!--<div class="row">-->
    <div class="col-md-6 text-center">
      <div class="fb-comments" data-href="<%= url_to_item %>" data-numposts="10" width="480" data-colorscheme="dark"></div>

    <div id="fb-root"></div>

    <script>
        (function(d, s, id) {
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) return;
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=140936849442574";
                 fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
    </script>
    </div><!--col-->
  </div><!--row-->
</div>
