<!DOCTYPE html>
<html>
<head>
  <title>AnyMenu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if store %>
    <meta property="fb:app_id" content="<%= store.facebook_app_id %>"/>
  <% end %>
  <!--<meta property="fb:admin" content="jessethebuilder"/>-->

</head>
<body>

  <%= render :partial => 'parts/top_nav' %>
  <%= render :partial => 'parts/the_flash'%>
  <%= yield %>


</body>
</html>
